<div class="row">
    <div class="offset-sm-2 col-sm-8 text-center">
        <table class="table table-striped text-center">
            <tr>
                <td>
                    <h5>Informacije</h5>
                </td>
                <td>
                  {{project.info}}    
                </td>
            </tr>
           
        </table>

        <br> <hr> <br>
        <h2>Materijali</h2>

        <table class="table table-striped">
            <tr *ngFor='let material of project.materials'>
                <td>
                    <a href="{{URL}}/{{material}}">{{material}}</a>
                </td>
              
            </tr>
        </table>
        <br><br>
        
    </div>
</div>
