<div class="row">
    <div class="offset-sm-1 col-sm-6">
        <img src="assets/slike/etf.jpg" class="img-fluid round" alt="">
   
        <br><br>

        <div class="card">
            <div class="card-header">
                <h2>Naša misija i vizija</h2>
            </div>
            <div class="card-body">
                Da studentima obezbedimo vrhunsko obrazovanje u oblasti elektrotehnike i računarstva, podstičući njihovu kreativnost, odgovornost, istraživački duh i timski rad. Da kompanijama obezbedimo izuzetne inženjere, koji će biti u stanju da unaprede njihovu produktivnost, inovativnost i konkurentnost na tržištu, pre svega u Srbiji, ali i bilo gde u svetu. Da svojim naučno-istraživačkim radom permanentno doprinosimo tehnološkom napretku, informatizaciji i sveukupnom stepenu razvoja naše zemlje.
                <br>
                Da budemo vodeća visokoškolska ustanova u oblasti elektrotehnike i računarstva na prostoru Jugoistočne Evrope, posvećena poštovanju najviših standarda u nastavi, nauci i primenjenim istraživanjima.
            </div>
          </div>
   
    </div>
    
    

    <div class=" col-sm-4">
        <div class="card" >
            <div class="card-header">
              <h2>Dekanat</h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">011-123-1234</li>
              <li class="list-group-item">381-123-1234</li>
              <li class="list-group-item">dekanat@etf.rs</li>
            </ul>
          </div>
   
        <div class="card" >
            <div class="card-header">
              <h2>Studentska sluzba</h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">011-123-1234</li>
              <li class="list-group-item">381-123-1234</li>
              <li class="list-group-item">sluzba@etf.rs</li>
            </ul>
          </div>
   

        <div class="card" >
            <div class="card-header">
              <h2>Opsti odsek</h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">011-123-1234</li>
              <li class="list-group-item">381-123-1234</li>
              <li class="list-group-item">oodsek@etf.rs</li>
            </ul>
          </div>
   
        <div class="card" >
            <div class="card-header">
              <h2>Racunovodstvo</h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">011-123-1234</li>
              <li class="list-group-item">381-123-1234</li>
              <li class="list-group-item">racunovodstvo@etf.rs</li>
            </ul>
          </div>
    </div>
</div>