<div class="row">
    <div class="offset-sm-2 col-sm-8 text-center">
        <input type="checkbox" [(ngModel)]='subjectInfo.projectForbidden'
         [checked]='subjectInfo.projectForbidden' (change)='change($event.target.value)'>Zabrani
         
        <table class="table table-striped text-center">
            <tr>
                <td>
                    <h5>Informacije</h5>
                </td>
                <td>
                    <textarea value="{{project.info}}" [(ngModel)]='project.info' name="" id="" cols="30" rows="10"></textarea>
                    
                </td>
            </tr>
        
        </table>

        <br> <br>

        
        
        <h2>Materijali</h2>

        <table class="table table-striped">
            
            <tr *ngFor='let material of project.materials'>
                <td>
                    <a href="{{URL}}/{{material.filename}}">{{material.filename}}</a>
                </td>
                <td>
                   {{material.fileSize}}B
                </td>
                <td>
                    {{getProfessorName(material.professor)}}
                 </td>

                 <button  *ngIf='user==material.professor' class="btn btn-dark" (click)='deleteMaterial(material)'>
                    Delete
                </button>
              
            </tr>
        </table>
        <br><br>
        <hr>
        <button  class="btn btn-dark" (click)='updateProject()'>
            Update
        </button>
    </div>
</div>
<div class="row">
    <div class="offset-sm-3 col-sm-6">
        <div *ngIf='message' class="m-4 alert alert-{{message.style}}" role="alert">
            {{message.msg}}
          </div>
    </div>
</div>
