<div class="row" *ngIf='!subjectInfo.labForbidden'>
    <div class="offset-sm-2 col-sm-8 text-center">
        <table class="table table-striped text-center">
            <tr>
                <td>
                    <h5>Informacije</h5>
                </td>
                <td>
                  {{lab.info}}    
                </td>
            </tr>
            <tr>
                <td>
                  <h5>  Broj vezbi</h5>
                </td>
                <td>
                    {{lab.numberOfExercises}}
                </td>
            </tr>
        </table>

        <br> <hr> <br>
        <h2>Materijali</h2>

        <table class="table table-striped">
            
            <tr *ngFor='let material of lab.materials'>
                <td>
                    <a href="{{URL}}/{{material.filename}}">{{material.filename}}</a>
                </td>
                <td>
                   {{material.fileSize}}B
                </td>
                <td>
                    {{getProfessorName(material.professor)}}
                 </td>
              
            </tr>
        </table>
        <br><br>
        
    </div>
</div>
<app-forbidden *ngIf='subjectInfo.labForbidden'></app-forbidden>
