<div class="row">
    <div class=" col-sm-12  col-md-6 col-lg-4 "  *ngFor = 'let list of lists'>
        <div class="card text-center m-4">
            <div class="card-body">
                
              <h5 class="card-title bg-light p-4">{{list.name}} </h5>
              
                  <table>
                        <tr>
                            <td>Datum isteka</td>
                            <td> {{myFormatDate(list.expireDate)}}</td>
                        </tr>
                        <tr>
                            <td>Broj prijavljenih</td>
                            <td> {{list.students.length}}</td>
                        </tr>
                  </table>
                 
                  
            </div>
            <div class="card-footer text-right">
                <button *ngIf= 'typee!="Student"' class="btn btn-dark" (click)='updateSyllabus(list)'> Update</button>
                &nbsp;
                <button class="btn btn-dark" (click)='details(list)'> Detalji</button>
            </div>
          </div>
    </div>
</div>
<div class="row " *ngIf='lists.length==0'>
    <div class="col-sm-12 text-center">
        <h3>Nema spiskova</h3>
    </div>
</div>