<div class="row " >
   
    <div class=" offset-sm-4 col-sm-4  " *ngIf='user==null'>
        <table class="table ">
            <tr>
                <td>Username</td>
                <td> <input type="text" id="username" [(ngModel)]='username' placeholder="Username" />
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" id="password" [(ngModel)]='password' placeholder="Password" />
                </td>
            </tr>
            <tr>
                <td>Tip</td>
                <td>
                    <select [(ngModel)]='typee'>
                        <option value="Student" selected> Student</option>
                        <option value="Professor">Profesor</option>
                        <option value="Admin">Admin</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <a routerLink="/registerstudent" href="#">Registruj se</a>
                </td>
                <td> <button class="btn btn-outline-primary" (click)='login()'>Uloguj se</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="offset-sm-8 col-sm-3 text-right" *ngIf='user'>
            {{user.ime}} {{user.prezime}} &nbsp; <button class="btn btn-primary" (click)='logout()'> Izloguj se</button>
    </div>

    <div class="offset-sm-3 col-sm-6">
        <div *ngIf='message' class="m-4 alert alert-{{message.style}}" role="alert">
            {{message.msg}}
        </div>
    </div>

</div>
<div class="row">
    <div class="offset-sm-3 col-sm-6">
        <div *ngIf='message' class="m-4 alert alert-{{message.style}}" role="alert">
            
            {{message.msg}}
        </div>
    </div>
</div>