
    <div class="row ">
    <div class=" offset-sm-4 col-sm-4  ">
    <table class="table ">
        <tr>
            <td>Username</td>
            <td> <input type="text" id="username" [(ngModel)]='username' placeholder="Username" />
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" id="password" [(ngModel)]='password' placeholder="Password" />
            </td>
        </tr>
        <tr>
            <td>
                 <a routerLink="/registerstudent" href="#">Registruj se</a>
            </td>
            <td> <button  class="btn btn-outline-primary" (click)= 'login()'>Uloguj se</button>
            </td>
        </tr>
    </table>
</div>
   
</div>



