.nav-item {
    font-size: 16pt;
}
div{
    font-size: 14 pt;
}
.gray{
    color: darkgray;
}
.activeLink{
    color:white  !important;
    background-color: rgb(2, 18, 53);
    border-radius: 10pt;
 
}