<div class="row">
    <div class="offset-sm-2 col-sm-8 text-center">
        <h2>Predavanja</h2>
        <br><br><br>
        <table class="table table-striped">
            <tr *ngFor='let lectureMaterial of lectureMaterials'>
                <td>
                    <a href="{{URL}}/{{lectureMaterial.filename}}">{{lectureMaterial.filename}}</a>
                </td>
                <td>
                    {{lectureMaterial.fileSize}}B
                 </td>
                 <td>
                     {{getProfessorName(lectureMaterial.professor)}}
                 </td>
                <td>
                    <button *ngIf='user==lectureMaterial.professor' class="btn btn-dark" (click)='deleteMaterial(lectureMaterial, "lectures")'>
                        Delete
                    </button>
                </td>
            </tr>
        </table>
        <br><br><br>

        <h2>Vezbe</h2>
        <br><br>
        <table class="table table-striped">

            <tr *ngFor='let exerciseMaterial of exerciseMaterials'>
                <td>
                    <a href="{{URL}}/{{exerciseMaterial.filename}}">{{exerciseMaterial.filename}}</a>
                </td>
                <td>
                   {{exerciseMaterial.fileSize}}B
                </td>
                <td>
                    {{getProfessorName(exerciseMaterial.professor)}}
                </td>
                <td>
                    <button class="btn btn-dark"
                    *ngIf='user==exerciseMaterial.professor'
                    (click)='deleteMaterial(exerciseMaterial, "exercises")'>
                        Delete
                    </button>
                </td>
            </tr>
        </table>

    </div>
</div>