<div class="row">
    <div class="offset-sm-2 col-sm-8">
        <table class="table table-striped text-center">
            <tr>
                <td>
                    Korisnicko ime
                </td>
                <td>
                    <input type="text" [(ngModel)]='zaposleni.username'>@etf.bg.ac.rs
                </td>
            </tr>
            <tr>
                <td>
                    Sifra
                </td>
                <td>
                    <input type="password" [(ngModel)]='zaposleni.password'>
                </td>
            </tr>
            <tr>
                <td>
                    Ime
                </td>
                <td>
                    <input type="text" [(ngModel)]='zaposleni.ime'>
                </td>
            </tr>
            <tr>
                <td>
                    Prezime
                </td>
                <td>
                    <input type="text" [(ngModel)]='zaposleni.prezime'>
                </td>
            </tr>
            <tr>
                <td>
                    Adresa
                </td>
                <td>
                    <input type="text" [(ngModel)]='zaposleni.adresa'>
                </td>
            </tr>
            <tr>
                <td>
                    Mobilni telefon
                </td>
                <td>
                    <input type="text" [(ngModel)]='zaposleni.mobilni'>
                </td>
            </tr>
            <tr>
                <td>
                    Website
                </td>
                <td>
                    <input type="text" [(ngModel)]='zaposleni.website'>
                </td>
            </tr>
            <tr>
                <td>
                    Podaci
                </td>
                <td>
                    <textarea cols="55" rows="5" [(ngModel)]='zaposleni.podaci'> </textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Zvanje
                </td>
                <td>

                    <select [(ngModel)]='zaposleni.zvanje'>
                        <option value="{{zvanje}}" *ngFor='let zvanje of zvanja'>
                            {{zvanje}}</option>
                    </select>

                </td>
            </tr>
            <tr>
                <td>
                    Kabinet
                </td>
                <td>
                    <input type="text" [(ngModel)]='zaposleni.kabinet'>
                </td>
            </tr>
            <tr>
                <td>
                    Status
                </td>
                <td>
                    <select [(ngModel)]='zaposleni.status'>
                        <option value="Aktivan">Aktivan</option>
                        <option value="Neaktivan">Neaktivan</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Slika
                </td>
                <td>
                    <input type="file" id='file' name="file" ng2FileSelect [uploader]="uploader" />

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-dark" (click)='insertZaposleni()'
                      > Dodaj</button>
                </td>
            </tr>
        </table>

    </div>
</div>
<div class="row">
    <div class="offset-sm-3 col-sm-6">
        <div *ngIf='message' class="m-4 alert alert-{{message.style}}" role="alert">
            {{message.msg}}
        </div>
    </div>
</div>