<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <tr>
                <td>Nova šifra</td>
                <td>
                    <input type="password" [(ngModel)]='newPassword'>
                </td>
            </tr>
            <tr>
                <td>Potvrdi novu šifru</td>
                <td>
                    <input type="password" [(ngModel)]='confirmPassword'>
                </td>
            </tr>
            <tr>
                <td>Stara šifra</td>
                <td>
                    <input type="password" [(ngModel)]='oldPassword'>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-dark" (click)='confirm()'> Potvrdi</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="offset-sm-3 col-sm-6">
        <div *ngIf='message' class="m-4 alert alert-{{message.style}}" role="alert">
            {{message.msg}}
          </div>
    </div>
</div>