<div class="row">
    <div class=" col-sm-12 "  *ngFor = 'let project of projects'>
        <div class="card text-center m-4">
            <div class="card-body">
                
              <h5 class="card-title bg-light p-4">{{project.title}} </h5>
              
                  <table class="table text-center">
                        <tr>
                            <td><h5>Opis</h5></td>
                            <td>{{project.description}}</td>
                          
                        </tr>
                        <tr>
                            <td><h5>Tip</h5></td>
                            <td>{{project.typee}}</td>
                          
                        </tr>
                        <tr>
                            <td><h5>Profesori</h5></td>
                            <td> 
                                <span *ngFor='let prof of project.professors'>
                                    <a routerLink='/employees/{{prof}}'> {{getName(prof)}}</a>
                                    <br>
                                </span>
                            </td>
                        </tr>
                  </table>
                 
                  
            </div>
            <div class="card-footer text-right">
                <button *ngIf= 'typee=="Admin"' class="btn btn-dark" (click)='updateProject(project)'> Update</button>
                &nbsp;
                <button *ngIf= 'typee=="Admin"' class="btn btn-dark" (click)='deleteProject(project)'> Delete</button>
            </div>
          </div>
    </div>
</div>